{{ define "content" }}
<div class="section">
    <div class="tile is-ancestor">
        <div class="tile">
            <div class="tile is-parent">
                <article class="tile is-child">
                    <div class="card">
                        <header class="card-header">
                            <a class="card-header-icon" aria-label="アイコン" href="/contents/top1.html">
                            <span class="icon">
                                <ion-icon name="help-outline"></ion-icon>
                            </span>
                            </a>
                            <p class="card-header-title">
                                幸せなプログラミング
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                人間には問題を解決しようとする原始的な欲求がある。
                                ある人は料理を作り、ある人は絵を描き、ある人は楽器を演奏する。
                                そしてある人はプログラミングをするのである。
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="/contents/top1.html" class="card-footer-item">つづきを読む</a>
                        </footer>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child">
                    <div class="card">
                        <header class="card-header">
                            <a class="card-header-icon" aria-label="アイコン">
                            <span class="icon">
                                <ion-icon name="diamond-outline"></ion-icon>
                            </span>
                            </a>
                            <p class="card-header-title">
                                Coming Soon.
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Coming Soon.
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">W.I.P</a>
                        </footer>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child">
                    <div class="card">
                        <header class="card-header">
                            <a class="card-header-icon" aria-label="アイコン">
                            <span class="icon">
                                <ion-icon name="leaf-outline"></ion-icon>
                            </span>
                            </a>
                            <p class="card-header-title">
                                Coming Soon.
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Coming Soon.
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">W.I.P</a>
                        </footer>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{{ end }}