{{ define "content" }}
<div class="tile is-ancestor">
    <div class="tile">
        <div class="tile is-parent">
            <article class="tile is-child">
                <div class="card">
                    <header class="card-header">
                        <a class="card-header-icon" aria-label="アイコン">
                            <span class="icon">
                                <ion-icon name="help-outline"></ion-icon>
                            </span>
                        </a>
                        <p class="card-header-title">
                            記号の防人
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            プログラミングとは、文を紡ぐ文芸行為。
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">W.I.P</a>
                    </footer>
                </div>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child">
                <div class="card">
                    <header class="card-header">
                        <a class="card-header-icon" aria-label="アイコン">
                            <span class="icon">
                                <ion-icon name="diamond-outline"></ion-icon>
                            </span>
                        </a>
                        <p class="card-header-title">
                            Coming Soon.
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            Coming Soon.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">W.I.P</a>
                    </footer>
                </div>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child">
                <div class="card">
                    <header class="card-header">
                        <a class="card-header-icon" aria-label="アイコン">
                            <span class="icon">
                                <ion-icon name="leaf-outline"></ion-icon>
                            </span>
                        </a>
                        <p class="card-header-title">
                            Coming Soon.
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            Coming Soon.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">W.I.P</a>
                    </footer>
                </div>
            </article>
        </div>
    </div>
</div>
{{ end }}
