{{ define "content" }}
<h2 class="subtitle is-2">免責事項</h2>
<div class="block">
    <h3 class="subtitle is-3">コンテンツについて</h3>
    <p>
        当社は、当サイトにコンテンツを掲載するにあたって、その内容、機能等について細心の注意を払っておりますが、コンテンツの内容が正確であるかどうか、最新のものであるかどうか、安全なものであるか等について保証をするものではなく、何らの責任を負うものではありません。
    <p>また、当社は通知することなく当サイトに掲載した情報の訂正、修正、追加、中断、削除等をいつでも行うことができるものとします。</p>
    <p>また、当サイト、またはコンテンツのご利用により、万一、ご利用者様に何らかの不都合や損害が発生したとしても、当社は何らの責任を負うものではありません。</p>
</div>
<div class="block">
    <h3 class="subtitle is-3">リンクについて</h3>
    <p>当サイトはリンクフリーです。但し、公序良俗に反したサイトからのリンクはお断り致します。</p>
    <p>リンクを貼られた際には御一報頂けますと幸いです。</p>
    <p>又、
        当サイトから第三者のサイトにリンクを張っている場合や、第三者のサイトから当サイトにリンクを張っている場合、いずれの場合に於いても、第三者のサイトの内容は、第三者の責任で管理・運営されているものであり、それらを利用されたことによって生ずる如何なる不都合や損害についても、当社は責任を負いかねます。</p>
</div>
<div class="block">
    <h3 class="subtitle is-3">準拠法及び管轄裁判所について</h3>
    <p>当サイトの利用ならびに当サイトの内容の解釈については、日本国の法律を準拠法とします。</p>
    <p>また、このサイトに関わる全ての紛争については、日本国の大阪地方裁判所を第一審の専属管轄裁判所とします。</p>
</div>

{{ end }}