{{ define "footer" }}
  <div class="content has-text-centered">
    <nav class="level">
      <div class="level-item has-text-centered">
        <a href="#">
          プライバシー
        </a>
      </div>
      <div class="level-item has-text-centered">
        <a href="#">
          利用規約
        </a>
      </div>
      <div class="level-item has-text-centered">
        <a href="#">
          免責事項
        </a>
      </div>
      <div class="level-item has-text-centered">
        <a href="#">
          お問い合わせ・ヘルプ
        </a>
      </div>
      <div class="level-item has-text-centered">
        <a href="#">
          ご意見・ご要望
        </a>
      </div>
    </nav>
    <div>
        © Alonzo.,LTD
    </div>
  </div>
  {{ end }}
