{{ define "header" }}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- logo image -->
    <figure class="image">
      <a href="/">
        <img src="/static/images/horizotal_logo_img.png" width="256px" height="128px">
      </a>
    </figure>
  </div>

  <div id="menu" class="navbar-menu">
    <div class="navbar-start">
      <!-- アイテムの配置 -->
      <a class="navbar-item">
        メニュー1
      </a>

      <a class="navbar-item">
        メニュー2
      </a>
    </div>

    <div class="navbar-end">
      <!-- アイテムの配置 -->
      <div class="navbar-item">
          <a class="button">
              ボタン
          </a>
      </div>
    </div>
  </div>
</nav>

{{ end }}
