{{ define "layout" }}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lambda Publishing</title>
    <!-- BulmaのCSSの読み込み -->
    <link href="../pages/styles/css/bulma.min.css" rel="stylesheet">

    <!-- <link href="/static/css/bootstrap.min.css" rel="stylesheet">
         <link href="/static/css/font-awesome.min.css" rel="stylesheet"> -->
  </head>
  <body>
      <h1 class="title is-1">Lambda Publishing</h1>
      <div class="container">
          <div class="columns">
              {{ template "navbar" . }}

              <div class="container">

                  {{ template "content" . }}

              </div> <!-- /container -->

          </div>

          <!-- <script src="/static/js/jquery-2.1.1.min.js"></script>
               <script src="/static/js/bootstrap.min.js"></script> -->
      </div>
  </body>
</html>

{{ end }}
