{{ define "content" }}
<table class="table">
    <thead>
        <tr>
            <th>会社概要</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>会社名</td>
            <td>ラムダ出版 株式会社 / Lambda Publishing.,LTD</td>
        </tr>
        <tr>
            <td>事業内容</td>
            <td>プログラミング、アーキテクティングの書籍の出版及び、メディア運営。</td>
        </tr>
        <tr>
            <td>代表者</td>
            <td>代表取締役 松脇真人</td>
        </tr>
        <tr>
            <td>所在地</td>
            <td>大阪府大阪市</td>
        </tr>
        <tr>
            <td>設立</td>
            <td>2022年10月21日</td>
        </tr>
    </tbody>
</table>

{{ end }}
