{{ define "content" }}
<table class="table">
    <thead>
    <tr>
        <th>会社概要</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>会社名</td>
        <td>ラムダ出版 株式会社</td>
    </tr>
    <tr>
        <td>代表者</td>
        <td>代表取締役 松脇真人</td>
    </tr>
    <tr>
        <td>所在地</td>
        <td>東京都千代田区神田神保町○○○</td>
    </tr>
    <tr>
        <td>資本金</td>
        <td>○○○万円</td>
    </tr>
    <tr>
        <td>事業内容</td>
        <td>プログラミングに関する情報の発信。メディア運営。</td>
    </tr>
    <tr>
        <td>設立</td>
        <td>2022年6月1日</td>
    </tr>
    <tr>
        <td>従業員数</td>
        <td>1名</td>
    </tr>
    <tr>
        <td>主な取引銀行</td>
        <td>PayPay銀行</td>
    </tr>
    </tbody>
</table>

{{ end }}