{{ define "content" }}
<table class="table">
    <thead>
        <tr>
            <th>会社概要</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>会社名</td>
            <td>ラムダ出版 株式会社 / Lambda Publishing.,LTD</td>
        </tr>
        <tr>
            <td>事業内容</td>
            <td>プログラミング、アーキテクティングの書籍のメディア運営。</td>
            <td>プログラミング、アーキテクティングの書籍の出版。</td>
        </tr>
        <tr>
            <td>代表者</td>
            <td>代表取締役 松脇真人</td>
        </tr>
        <tr>
            <td>所在地</td>
            <td>大阪府　大阪市　西区　土佐堀　３丁目　２番１０号　Ｃｏｌｌｅｔｃｔｉｏｎ土佐堀　６０１号室</td>
        </tr>
        <tr>
            <td>設立</td>
            <td>2022年10月21日</td>
        </tr>
    </tbody>
</table>

{{ end }}
