{{ define "navbar" }}
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- アイテムの配置 -->
    <a class="navbar-item" href="https://johobase.com/">
      <img src="navbar/logo2.png">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="menu" class="navbar-menu">
    <div class="navbar-start">
      <!-- アイテムの配置 -->
      <a class="navbar-item">
        メニュー1
      </a>

      <a class="navbar-item">
        メニュー2
      </a>
    </div>

    <div class="navbar-end">
      <!-- アイテムの配置 -->
      <div class="navbar-item">
          <a class="button">
              ボタン
          </a>
      </div>
    </div>
  </div>
</nav>

{{ end }}
