{{ define "content" }}

<div class="content">
    <h1>幸せなプログラミング</h1>

    <p>
        人間には問題を解決しようとする原始的な欲求がある。
        ある人は料理を作り、ある人は絵を描き、ある人は楽器を演奏する。
        そしてある人はプログラミングをするのである。
    </p>

    <p>
        大事なことはそこに本人の欲求がある点だ。
        基本的に人間は欲求が満たされれば幸福を感じる。
        プログラミングは誰かに強要されてやることではない。
        本人の欲求がなければそれはプログラミングではないし、クッキングでも、ドローイングでもない。
        本人の情熱がなければそれはただの作業だ。
    </p>

    <p>
        作業。なんと悲しい響きだろうか。　
        守られた雇用の中で毎日”カイシャ”に言って帰ってくればミッションコンプリートだろうか？
        かく言う筆者は本人の欲求に従っているだろうか。
        遅ればせながら筆者が何者かについて触れておこう。
    </p>

    <h2>凡人、３６歳、プログラマになる。</h2>
    <p>
        私は３６歳の時にプログラマになった。
        金も才能もコネもない。まさに”持たざる者”である。
        持たざる者が３６歳からプログラマになる決断をどうやってしたのか。
    </p>

    <p>
        それはまた別のお話であるが、私にはある2つの確信があった。
        １つは「持たざる者でも時間はある。目的のために最大限に時間を使えば何かをできる人になれる。」
        １つは「人間を中心とした商品やサービスを提供すれば、必ず市場やユーザーは自分の働きに報いてくれる。」というものだ。
    </p>

    <p>
        36歳までにこの２つの感覚を得られたのは大きかった。
        私はカクカクシカジカで現在、フリーランスのプログラマとして充実した日々を送っている。
    </p>

    <h2>プログラミングは仕事ではない</h2>
    <p>
        ソフトウェアを利用するユーザーと、それを提供し支え続けるプログラマの世界へ歩きだそう。
        仮にプログラミングが仕事だったとしても、あなたはユーザーのためにこそ働くべきだ。
        ユーザーはあなたと直接会うことはなくとも、ソフトウェアを通して対話できる。
        ユーザーこそがプログラマが向き合うべき存在だ。
    </p>

    <h2>プログラマはユーザーとコミュニティにのみ帰属する</h2>
    <p>
        会社の仕事があなたをプログラマやエンジニアにしているのではない。
        あなたがユーザーやコミュニティのために活動するかぎり、
        どこにいてもあなたはプログラマなのだ。
    </p>

    <h2>誰のためのプログラミング</h2>
    <p>
        断言してもよいが、あなたがもし、ユーザーのために働けない環境にいるのであれば、
        一刻もはやく身の置き場所を変えるべきだ。あなたがプログラマやエンジニアという自覚があるのであれば、
        あなたが幸せにするべきユーザーは幸せにはならないし、何よりあなたが幸せになれないだろう。
    </p>

    <p>
        あなたが自分の書いたコードに誇りを持ち、ユーザーのためのソフトウェアを作ることで身を立てるつもりなら、
        よりユーザーに近い場所へ行くべきだ。ユーザーのフィードバック得ながら活動することがあなたをプログラマとして強くする。
    </p>

    <p>
        反対に、ユーザーから遠いところにいるのであれば、あなたは自身を持てないし、そればかりか身のを安全を考えて、
        会社に居座ることを選ぶようになるだろう。あなたを不幸にする原因に対して、あなたは依存しなければいけないかもしれない。
    </p>

    <h2>幸せなプログラミング</h2>
    <p>
        あなたは別の道を選ぶこともできる。
        プログラマとして自信を持ち、ユーザーを幸せにするコードに没頭できる活動を。
        ソフトウェアに向き合い続け専門家になる道も選ぶことができる。
        その選択とは、ユーザーのことを第１に考え行動することなのだ。
    </p>

</div>

{{ end }}
